{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Rejestracja' }}
{% endblock %}

{% block header %}
    <h1>Książka kucharska</h1>
    <samp>załóż konto</samp>
{% endblock %}

{% block body %}
   <div id="wrapper">
       <div id="left">
           <h1>
               Rejestracja:
           </h1>
           {# app/Resources/views/registration/register.html.twig #}
           {{ form_start(form) }}
           {{ form_row(form.name) }}
           {{ form_row(form.password.first) }}
           {{ form_row(form.password.second) }}

           <button type="submit">Załóż konto</button>
           {{ form_end(form) }}
       </div>
       <div id="right">
           <a class="btn btn-primary float-right" href="/register">Załóż konto</a>
           <a class="btn btn-primary float-right" href="/login">Zaloguj się</a>
           <a class="btn btn-primary float-right" href="/">Strona główna</a>
       </div>
   </div>

{% endblock %}
