{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">Witaj, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">Lista przepisów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">Składniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">Nowy przepis</a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit') }}">Profil</a>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">Wyloguj się</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Użytkownicy</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block header %}
    <h1>Książka kucharska</h1>
{% endblock %}

{% block body %}
    <a href="{{ path('recipe_new') }}">Nowy przepis</a>

    <h1>Moje przepisy:</h1>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {#TODO: jeśli brak przepisów, wyświetl informację#}
            {% for recipe in recipes %}
                <div class="post-preview">
                    <a href="{{ path('recipe_show', { 'id': recipe.id }) }}">
                        <h2 class="post-title">
                            {{ recipe.title }}
                        </h2>
                    </a>
                    <p class="post-meta">Autor: {{app.user.username}}</p>
                </div>
                <hr>
            {% endfor %}
            <hr>
        </div>
    </div>
{% endblock %}
