{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">{% trans %}Witaj{% endtrans %}, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">{% trans %}Lista przepisów{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">{% trans %}Składniki{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">{% trans %}Nowy przepis{% endtrans %}</a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit') }}">Profil</a>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">{% trans %}Wyloguj się{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">{% trans %}Użytkownicy{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block header %}
    <h1>{{ recipe.title }}</h1>
{% endblock %}

{% block body %}
    <a href="{{ path('recipe_index') }}">{% trans %}Powrót do listy{% endtrans %}</a>
    <h1>{{ recipe.title }}</h1>

    <div>
        {{ recipe.content }}
    </div>
    <div class="ingredients">
        {% for ingredient in recipe.ingredients %}
            {{ ingredient.name ~', ' }}
        {% endfor %}
    </div>
    {% if current_user == recipe.user.name %}
        <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">{% trans %}Edytuj{% endtrans %}</a>

        {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Czy na pewno chcesz usunąć?")'}}) }}
        <input type="submit" value="Usuń">
        {{ form_end(delete_form) }}

    {% endif %}
{% endblock %}
