{% extends 'base.html.twig' %}

{% block header %}
    <h1>{{ recipe.title }}</h1>
{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="left">
        <a href="{{ path('recipe_index') }}">Powrót do listy</a>
        <h1>{{ recipe.title }}</h1>

        <div>
            {{ recipe.content }}
        </div>

        <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}">Edytuj</a>

        {{ form_start(delete_form) }}
        <input type="submit" value="Usuń">
        {{ form_end(delete_form) }}
    </div>
    <div id="right">
        <a class="btn btn-primary float-right" href="{{ path('recipe_new') }}">Nowy przepis</a>
        <a class="btn btn-primary float-right" href="#">Wyloguj się</a>
        <a class="btn btn-primary float-right" href="/">Strona główna</a>
    </div>
</div>
{% endblock %}
