{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">Witaj, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">Lista przepisów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">Składniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">Nowy przepis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit') }}">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">Wyloguj się</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">Użytkownicy</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block header %}
    <h1>Książka kucharska</h1>
{% endblock %}

{% block body %}
    <h3>Edycja danych</h3>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Potwierdź zmiany" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Czy na pewno chcesz usunąć swój profil?")'}}) }}
    <input type="submit" value="Usuń konto">
    {{ form_end(delete_form) }}
{% endblock %}
