{% extends 'base.html.twig' %}

{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">{% trans %}Witaj{% endtrans %}, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">{% trans %}Lista przepisów{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">{% trans %}Składniki{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">{% trans %}Nowy przepis{% endtrans %}</a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit') }}">Profil</a>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">{% trans %}Wyloguj się{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">{% trans %}Użytkownicy{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block header %}
    <h1>{% trans %}Panel administracyjny{% endtrans %}</h1>
    <h2>{% trans %}Użytkownicy{% endtrans %}</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for user in users %}
                <div class="post-preview">
                    <a href="{{ path('user_show', { 'id': user.name }) }}">
                        <h2 class="post-title">
                            {{ user.name }}
                        </h2>
                    </a>
                </div>
                <hr>
            {% endfor %}
            <hr>
    </div>
{% endblock %}
