{% extends 'base.html.twig' %}
{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">{% trans %}Witaj{% endtrans %}, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">{% trans %}Lista przepisów{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">{% trans %}Składniki{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">{% trans %}Nowy przepis{% endtrans %}</a>
            </li>
            {#<li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit') }}">Profil</a>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">{% trans %}Wyloguj się{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_index') }}">{% trans %}Użytkownicy{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <a href="{{ path('ingredient_index') }}">{% trans %}Powrót do listy{% endtrans %}</a>
    <h3>{{ ingredient.name }}</h3>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="{% trans %}Edit{% endtrans %}" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
