{% extends 'base.html.twig' %}
{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">Witaj, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">Lista przepisów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">Składniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">Nowy przepis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">Wyloguj się</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <h1>Moje składniki</h1>
    <a href="{{ path('ingredient_new') }}">Nowy składnik</a>
    <table>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.name }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">Przepisy</a>
                        </li>
                        <li>
                            <a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">Edytuj składnik</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
