{% extends 'base.html.twig' %}
{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">Witaj, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">Lista przepisów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">Składniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">Nowy przepis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">Wyloguj się</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <h1>Dodaj składnik</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <a href="{{ path('recipe_new') }}">Wróć do przepisu</a>
{% endblock %}
