{% extends 'base.html.twig' %}
{% block menu %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <a class="navbar-brand">Witaj, {{ app.user.username }}!</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_index') }}">Lista przepisów</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ingredient_index') }}">Składniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('recipe_new') }}">Nowy przepis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}">Wyloguj się</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <a href="{{ path('ingredient_index') }}">Powrót do listy składników</a>

    <h3>Przepisy z wykorzystaniem: {{ ingredient.name }}</h3>

    <ul>
        <div class="recipies">
            {% for recipe in ingredient.recipes %}
                <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
            {% endfor %}
        </div>
    </ul>

    {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("Czy na pewno chcesz usunąć?")'}}) }}
    <input type="submit" value="Usuń">
    {{ form_end(delete_form) }}
{% endblock %}
